.icon-park-outlinemuscle1 {
  position: absolute;
  top: 206px;
  left: 1126px;
  width: 108px;
  height: 108px;
}
.material-symbolsavg-time-outl-icon1,
.octicongoal-161 {
  position: absolute;
  top: 206px;
  left: 812px;
  width: 108px;
  height: 108px;
}
.material-symbolsavg-time-outl-icon1 {
  left: 499px;
}
.age1,
.experience1,
.gender1,
.goal1 {
  position: absolute;
  top: 329px;
  left: 167px;
}
.age1,
.experience1,
.goal1 {
  left: 515px;
}
.experience1,
.goal1 {
  left: 818px;
}
.experience1 {
  left: 1069px;
}
.jamtransgender-icon1 {
  position: absolute;
  top: 206px;
  left: 187px;
  width: 108px;
  height: 108px;
}
.quiz-question-child5 {
  position: absolute;
  top: 390px;
  left: 94px;
  width: 289.5px;
  height: 18px;
}
.quiz-question-child6,
.quiz-question-child7,
.quiz-question-child8 {
  position: absolute;
  top: 390px;
  left: 405px;
  width: 289.5px;
  height: 18px;
}
.quiz-question-child7,
.quiz-question-child8 {
  left: 719px;
}
.quiz-question-child8 {
  left: 1033px;
}
.what-is-your {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 450px);
  font-size: var(--font-size-29xl);
  font-weight: 800;
  font-family: var(--font-open-sans);
  color: var(--normal-text-color);
}
.beginner-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-100);
  box-shadow: 6px 4px 7px 1px rgba(0, 0, 0, 0.25);
  width: 391px;
  height: 257px;
}
.beginner1 {
  position: absolute;
  top: 35px;
  left: 95px;
}
.i-am-starting {
  margin: 0;
}
.i-am-starting-container {
  position: absolute;
  top: 102px;
  left: 5px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: center;
}
.beginner {
  position: absolute;
  top: 646px;
  left: 212px;
  width: 391px;
  height: 257px;
  font-size: var(--font-size-17xl);
  color: var(--normal-text-color);
  cursor: pointer;
}
.experienced1 {
  position: absolute;
  top: 35px;
  left: 65px;
}
.i-went-to-container {
  position: absolute;
  top: 102px;
  left: 11px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: center;
}
.experienced {
  position: absolute;
  top: 646px;
  left: 695px;
  width: 391px;
  height: 257px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
  color: var(--normal-text-color);
}
.red-lines-icon6,
.red-lines-icon7 {
  position: absolute;
  top: 3px;
  left: 187px;
  width: 209.96px;
  height: 141.72px;
}
.red-lines-icon7 {
  top: 900px;
  left: 1310px;
}
.red-lines-icon8 {
  top: 29px;
  left: 136px;
}
.quiz-question2 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--black-like-ur-heart);
  font-family: var(--font-nasalization);
}
