body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nasalization: Nasalization;
  --font-inherit: inherit;
  --font-open-sans: "Open Sans";
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-32xl: 51px;
  --font-size-54xl: 73px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-steelblue: #205375;
  --sexy-rouge: #ff182c;
  --color-gainsboro: #d9d9d9;
  --color-darkorange: #f66b02;
  --color-darkslategray-100: #102b3c;
  --color-darkslategray-200: rgba(16, 43, 60, 0.68);
  --color-chocolate: #ed6c15;

  /* border radiuses */
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-3xs: 10px;
}
