.diet-child,
.frame-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.diet-child {
  background-color: var(--color-yellowgreen-200);
  width: 1440px;
  height: 95px;
}
.frame-icon {
  width: 62px;
  height: 51px;
  overflow: hidden;
}
.arms,
.logo {
  position: absolute;
  top: 12px;
  left: 68px;
}
.logo {
  top: 20px;
  left: 21px;
  width: 191px;
  height: 51px;
  font-size: var(--font-size-9xl);
}
.profile {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-nasalization);
  color: black;
  text-align: left;
}
.home,
.login-button {
  position: absolute;
  cursor: pointer;
}
.login-button {
  border: 0;
  padding: var(--padding-4xs) var(--padding-21xl);
  background-color: var(--color-gainsboro-200);
  top: 20px;
  left: 1220px;
  border-radius: var(--br-xl);
  width: 200px;
  height: 51px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.home {
  text-decoration: none;
  top: calc(50% - 17.5px);
  left: calc(50% - 306px);
  color: inherit;
}
.nav-bar-child {
  position: absolute;
  top: 0;
  left: 293px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  width: 98px;
  height: 37px;
}
.diet1,
.supplement,
.workout {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 17.5px);
  color: inherit;
}
.workout {
  left: calc(50% - 171px);
  cursor: pointer;
}
.diet1,
.supplement {
  left: calc(50% + 9px);
}
.supplement {
  left: calc(50% + 111px);
}
.nav-bar,
.nav-bar1 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 306px);
  width: 612px;
  height: 37px;
}
.nav-bar {
  top: calc(50% - 793px);
  left: calc(50% - 339px);
  color: var(--sexy-rouge);
}
.diet-child1,
.diet-child2,
.diet-child3,
.diet-inner,
.diet-item,
.rectangle-div {
  position: absolute;
  top: 239px;
  left: 53px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  width: 412px;
  height: 563px;
}
.diet-child1,
.diet-child2,
.diet-child3,
.diet-inner,
.rectangle-div {
  top: 849px;
  left: 59px;
}
.diet-child1,
.diet-child2,
.diet-child3,
.rectangle-div {
  top: 239px;
  left: 523px;
}
.diet-child1,
.diet-child2,
.diet-child3 {
  top: 849px;
  left: 529px;
}
.diet-child2,
.diet-child3 {
  top: 239px;
  left: 993px;
}
.diet-child3 {
  top: 849px;
  left: 999px;
}
.isometric-salad-plate-1-icon,
.isometric-salad-plate-4-icon {
  position: absolute;
  top: 344px;
  left: 125px;
  width: 256px;
  height: 213px;
  object-fit: cover;
}
.isometric-salad-plate-4-icon {
  top: 961px;
}
.isometric-salad-plate-5-icon,
.isometric-salad-plate-6-icon {
  position: absolute;
  top: 985px;
  left: 598px;
  width: 256px;
  height: 213px;
  object-fit: cover;
}
.isometric-salad-plate-6-icon {
  left: 1077px;
}
.this-weeks-healthy {
  position: absolute;
  top: 156px;
  left: 57px;
  color: #2b2b2e;
}
.isometric-salad-plate-2-icon,
.isometric-salad-plate-3-icon {
  position: absolute;
  top: 344px;
  left: 598px;
  width: 256px;
  height: 213px;
  object-fit: cover;
}
.isometric-salad-plate-3-icon {
  left: 1077px;
}
.bowl-of-salad,
.bowl-of-salad1,
.bowl-of-salad2 {
  position: absolute;
  top: 618px;
  left: 148px;
  color: var(--color-black);
}
.bowl-of-salad1,
.bowl-of-salad2 {
  left: 624px;
}
.bowl-of-salad2 {
  left: 1094px;
}
.bowl-of-salad3,
.bowl-of-salad4,
.bowl-of-salad5 {
  position: absolute;
  top: 1259px;
  left: 1100px;
  color: var(--color-black);
}
.bowl-of-salad4,
.bowl-of-salad5 {
  left: 624px;
}
.bowl-of-salad5 {
  top: 1251px;
  left: 148px;
}
.diet-child4,
.diet-child5,
.diet-child6,
.diet-child7,
.diet-child8,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-yellowgreen-200);
  position: absolute;
  top: 724px;
  left: 286px;
  border-radius: var(--br-xl);
  width: 152px;
  height: 47px;
  font-size: 30px;
}
.diet-child4,
.diet-child5,
.diet-child6,
.diet-child7,
.diet-child8 {
  left: 759px;
}
.diet-child5,
.diet-child6,
.diet-child7,
.diet-child8 {
  top: 728px;
  left: 1235px;
}
.diet-child6,
.diet-child7,
.diet-child8 {
  top: 1329px;
}
.diet-child7,
.diet-child8 {
  left: 757px;
}
.diet-child8 {
  top: 1334px;
  left: 283px;
}
.see-more- {
  position: absolute;
  top: 1339px;
  left: 309px;
}
.see-more- {
  text-decoration: none;
  top: 1513px;
  left: 622px;
  font-size: var(--font-size-17xl);
  color: #324209;
}
.diet {
  position: relative;
  background-color: #aef3b6;
  width: 100%;
  height: 1650px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-nasalization);
}
.profile-child,
.profile-item {
  position: absolute;
  border-radius: var(--br-xl);
}
.profile-child {
  top: 31px;
  left: -14px;
  background-color: var(--color-gainsboro-200);
  width: 430px;
  height: 630px;
}
.profile-item {
  top: 62px;
  left: 25px;
  width: 113px;
  height: 113px;
}
.ls {
  position: absolute;
  top: 99px;
  left: 60px;
  font-size: var(--font-size-13xl);
}
.larbi-saidchikh,
.larbisckgmailcom {
  position: absolute;
  top: 91px;
  left: 151px;
}
.larbisckgmailcom {
  top: 121px;
  font-size: var(--font-size-xl);
  font-family: var(--font-damion);
  color: var(--grey-grey-800);
}
.my-diet,
.my-progress,
.settings {
  position: absolute;
  top: 248px;
  left: 79px;
}
.my-diet,
.settings {
  top: 303px;
}
.settings {
  top: 462px;
  left: 78px;
}
.log-out,
.my-supplements {
  position: absolute;
  top: 542px;
  left: 79px;
}
.my-supplements {
  top: 381px;
  left: 78px;
}
.profile {
  position: relative;
  border-radius: var(--br-3xs);
  width: 511px;
  height: 733px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black-like-ur-heart);
  font-family: var(--font-nasalization);
}

