html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', Arial;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1d1d1b;
}

.diet-child,
.frame-icon {
  position: absolute;
  top: 0;
  position: fixed;
  left: 0;
  z-index: 999;
}

.diet-child {
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 95px;
  z-index: 999;
}

.frame-icon {
  width: 62px;
  height: 51px;
  overflow: hidden;
  top: 20px;
  z-index: 999;
}

.arms,
.logo {
  position: fixed;
  top: 20px;
  left: 68px;
  z-index: 999;
}

.logo {
  position: fixed;
  top: 20px;
  left: 21px;
  width: 191px;
  height: 51px;
  font-size: var(--font-size-9xl);
  z-index: 999;
}

.profile {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-nasalization);
  color: var(--sexy-rouge);
  text-align: left;
  z-index: 999;
}

.home,
.login-button {
  position: absolute;
  cursor: pointer;
}

.login-button {
  position: fixed;
  border: 0;
  padding: var(--padding-4xs) var(--padding-21xl);
  background-color: var(--color-gainsboro-200);
  top: 20px;
  left: 80%;
  border-radius: var(--br-xl);
  width: 200px;
  height: 51px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.profile1 {
  position: relative;
  color: var(--sexy-rouge);
  font-size: var(--font-size-xl);
  font-family: var(--font-nasalization);
  text-align: left;
}

.home {
  text-decoration: none;
  top: calc(50% - 17.5px);
  left: calc(50% - 306px);
  color: inherit;
  top: 20px;
  position: fixed;
}

.nav-bar-child {
  position: fixed;
  top: 20px;
  left: 293px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-200);
  width: 98px;
  height: 37px;
  display: flex;
  flex-direction: row;
  z-index: 999;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.diet1,
.supplement,
.workout {
  top: 20px;
  text-decoration: none;
  position: fixed;
  top: calc(50% - 17.5px);
  color: inherit;
}

.workout {
  left: calc(50% - 171px);
  cursor: pointer;
  top: 20px;
  position: fixed;
}

.diet1,
.supplement {
  top: 20px;
  position: fixed;
  left: calc(50% + 9px);
}

.supplement {
  left: calc(50% + 111px);
}

.nav-bar,
.nav-bar1 {
  position: fixed;
  top: calc(50% - 18.5px);
  left: calc(50% - 306px);
  width: 100%;
  z-index: +999;
}

.nav-bar {
  top: calc(50% - 793px);
  left: calc(50% - 339px);
  color: var(--sexy-rouge);
  z-index: +999;
}

.diet {
  background-color: var(--color-gray-500);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-nasalization);
}

.profile {
  position: relative;
  border-radius: var(--br-3xs);
  width: 511px;
  height: 733px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black-like-ur-heart);
  font-family: var(--font-nasalization);
}

.scrollable-container {
  max-height: calc(100vh - 95px);
  overflow-y: auto;
  padding-top: 10px;
}

form {
  position: absolute;
  display: flex;
  margin-top: 20%;
  align-items: center;
  left: 10%;
  top: 0.5%;
  bottom: 10%;
  width: 70%;
  height: 100%;
  flex-direction: column;
  z-index: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 25%;
}

th,
td {
  border: 1px solid var(--color-crimson);
  padding: 8px;
  text-align: center;
  z-index: -1;
}

th {
  background-color: var(--color-darkslategray-200);
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid var(--sexy-rouge);
  border-radius: 4px;
  background-color: var(--sexy-rouge);
  color: white;
  font-size: large;
  font-family: var(--font-nasalization);
}

.remaining {
  font-weight: bold;
}

input[type="submit"] {
  background-color: var(--color-crimson);
  color: var(--color-white);
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-family: var(--font-nasalization);
}

input[type="submit"]:hover {
  background-color: var(--sexy-rouge);
}

.top {
  margin-top: 7%;
  font-size: 50px;
  font-family: var(--font-nasalization);
  margin-left: 35%;
  margin-right: 35%;
  color: var(--color-white);
  padding: 10px 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px var(--color-darkslategray-200);
  background: var(--color-crimson);
  background: -moz-linear-gradient(45deg, var(--sexy-rouge) 0%, var(--color-crimson) 99%);
  background: -webkit-linear-gradient(45deg, var(--sexy-rouge) 0%, var(--color-crimson) 99%);
  background: linear-gradient(45deg, var(--sexy-rouge) 0%, var(--color-crimson) 99%);
}

.text {
  font-size: large;
  font-family: var(--font-nasalization);
  color: var(--sexy-rouge);
  font-weight: bold;
  text-align: center;
}

.profile-child {
  margin-top: 17%;
  background-color: var(--color-gainsboro-200);
  width: 430px;
  height: 87%;
  border-radius: 7%;
}

.larbi-saidchikh {
  position: absolute;
  top: 16%;
  left: 27%;
}

.larbisckgmailcom {
  position: absolute;
  top: 27%;
  left: 27%;
  font-size: var(--font-size-xl);
  font-family: var(--font-damion);
  color: var(--grey-grey-800);
}

.my-progress {
  position: absolute;
  top: 50%;
  left: 10%;
}

.my-diet {
  position: absolute;
  top: 60%;
  left: 10%;
}

.my-supplements {
  position: absolute;
  top: 70%;
  left: 10%;
}

.log-out {
  position: absolute;
  top: 90%;
  left: 50%;
}

.log-out,
a {
  text-decoration: none;
  color: var(--sexy-rouge);
}

.profile {
  position: relative;
  border-radius: 20%;
  width: 511px;
  height: 733px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black-like-ur-heart);
  font-family: var(--font-nasalization);
}

.overview {
  background-color: black;
}

.gotopopup {
  position: relative;
  margin-top: 8.5%;
  margin-left: -5%;
  background-color: var(--color-gainsboro-200);
  width: 430px;
  height: 70%;
  border-radius: 7%;
}