body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-nasalization: Nasalization;
    --font-open-sans: "Open Sans";
    --font-google-sans: "Google Sans";
    --font-inherit: inherit;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-17xl: 36px;
    --font-size-11xl: 30px;
    --font-size-xl: 20px;
    --font-size-9xl: 28px;
    --font-size-13xl: 32px;
    --font-size-5xl: 24px;
    --font-size-29xl: 48px;
  
    /* Colors */
    --color-white: #fff;
    --color-yellowgreen-100: #87bb43;
    --color-yellowgreen-200: #88b120;
    --color-black: #000;
    --color-gainsboro-100: #e8e7e2;
    --color-gainsboro-200: #d9d9d9;
    --sexy-rouge: #ff182c;
    --color-darkslategray-100: #263238;
    --color-darkslategray-200: #2f2d2d;
    --color-whitesmoke: #f3f2ef;
    --color-crimson: #db3846;
    --color-lightskyblue: #79d7ff;
  
    /* Gaps */
    --gap-7xs: 6px;
  
    /* Paddings */
    --padding-4xs: 9px;
    --padding-21xl: 40px;
    --padding-13xl: 32px;
  
    /* border radiuses */
    --br-xl: 20px;
    --br-11xl: 30px;
  }
  