
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    background: linear-gradient(to right, var(--color-darkgray) 0%, var(--color-darkgray)50%, var(--sexy-rouge) 50% ,var(--sexy-rouge) 100%);
  }
  .error
  {
    color: red;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    height: min-content;
  }
  
  .login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 17%;
    left: 60%;
    background-color: var(--black-white-white);
    box-shadow: 4px 6px 11px rgba(60, 60, 60, 0.25);
    width: 36%;
    height: 70%;
  }

  .login-form input[type="email"]
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
    width: 70%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    }


  .login-form div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
  }
  .login-form div input:hover {
    transform: scale(1.03);
  }
  .login-form label {
    text-align: left;
    left: 50%;
  }
  
  .login-form input[type="password"]
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    width: 70%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;  }
  .call-to-action {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--black-like-ur-heart);
  }
  .form-input {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-lightskyblue);
    background-color: var(--black-white-white);
    box-sizing: border-box;
  }
  .form-input,
  .login-button {
    position: absolute;
    border-radius: var(--br-mini);
    width: 86%;
    height: 30%;
  }

  input::placeholder
  {
    font-family: 'nasalization';
    text-align: center;
    color: var(--color-darkgray);
    font-weight: 500;
  }
  .login-button {
    font-family: 'nasalization';
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-crimson-200);
    bottom: 70%;
    text-align: center;
  }
  .login-button:hover {
    background-color: darkred;
  }
  div label
  {
    left: 5%;
color: var(--black-like-ur-heart);
    font-weight: 500;
  }
  .sign-up {
    color: var(--sexy-rouge);
    text-decoration: none;
    font-weight: 500;
  }
  .sign-up:hover {
    color: var(--color-darkgray);
  }
  .dont-have-an-account {
    position: absolute;
  bottom: 3%;
    font-weight: 500;
left: 3%;    text-decoration: none;
    color: var(--color-darkgray);
  }


  .hello-welcome {
    position: absolute;
    top: 4%;
    left: 4%;
    font-weight: 500;
    font-size: var(--font-size-21xl);
  }

  .frame-icon {
    position: relative;
   text-align: center;
  width: fit-content;
    overflow: hidden;
  }
  .logo
 {
    position: absolute;
  text-align: center;
  top: 25%;
    width: 100%;
    height: 40%;
}
  .arms {
    position: relative;
    top: 0;
    font-size: var(--font-size-29xl);
  }
  .let-begin-your {
    position: absolute;
    top: 86%;
    left: 7%;
    font-size: var(--font-size-21xl);
    font-weight: 600;
  }
  .frame-parent {
    position: absolute;
    width: 50%;
    height: 100%;
    color: var(--black-white-white);
  }

