
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(to right, var(--black-like-ur-heart) 0%, var(--black-like-ur-heart)50%, var(--sexy-rouge) 50% ,var(--sexy-rouge) 100%);
}
.error
{
  color: red;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  height: min-content;
}


.create-an-account1 {
  position: absolute;
  top: 0.7%;
  left: 16.52%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-google-sans);
  color: var(--black-like-ur-heart);
  text-align: center;

}
a{
  text-decoration: none;
  
}


label
{
  display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    margin-left: 15%;
}

.rectangle-button {
  position: absolute;
  height: 10.44%;
  width: 78.83%;
  right: 10.69%;
  left: 10.48%;
  border-radius: var(--br-mini);
  
}


.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #ff3d4d;
  top: 67.09%;
  bottom: 22.47%;
}
.rectangle-button {
  background-color: #ffb0b7;
  top: 79.27%;
  bottom: 10.28%;
  opacity: 0.8;
}
.already-have-an
 {
  color: var(--black-like-ur-heart);
}
.log-in {
  color: #ff4959;
}
.span4 {
  color: black;
}
.already-have-an-container {
  top: 92.09%;
  left: 13.1%;
}
.already-have-an-container,
.continue-with-google,
.create-account {
  position: absolute;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-google-sans);
  text-align: left;
}
.create-account {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 74%;
  left: 30.44%;
  color: var(--black-like-ur-heart);
  display: inline-block;
}




input[type=text], input[type=email], input[type=password], input[type=number] {
  
  border: none;
  border-radius: 10px;
  padding: 3%;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--color-pink);
}

input[type=number] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 4px solid var(--color-pink);
  
}


input[type=text], input[type=email], input[type=password], input[type=number], select[name=gender] {
  width: 70%;
  height: 30px;
  color: #333;
  margin-left: 15%;
  margin-bottom: 5%;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, select[name=gender]:focus {
  outline: none;
}

.submit {
width: 30%;
height: 35px;
border: none;
border-radius: 5%;
background-color: var(--sexy-rouge);
color: #fff;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;


  
}

input[type=submit]:hover {
  background-color: #ffb0b7;
}


.hello-welcome {
  position: absolute;
  top: 4%;
  left: 4%;
  font-weight: 500;
  font-size: var(--font-size-21xl);
}

.frame-icon {
  position: relative;
 text-align: center;
 width: fit-content;
  overflow: hidden;
}
.logo
{
  position: absolute;
text-align: center;
top: 25%;
  width: 100%;
  height: 40%;
}
.arms {
  position: relative;
  top: 0;
  font-size: var(--font-size-29xl);
}
.let-begin-your {
  position: absolute;
  top: 86%;
  left: 7%;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.frame-parent {
  position: absolute;
  width: 50%;
  height: 100%;
  color: var(--black-white-white);
}

.create{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  
}

.form-group{
      padding: 0.25rem;
      

}
#signup-form{
  top: 20%;
  margin:  auto auto;
  padding: 0.25rem;
  background-color: white;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  margin-left: 55%;
  margin-top: 2.5%;
  

}
