body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  :root {
    /* fonts */
    --font-nasalization: Nasalization;
    --font-damion: Damion;
    --button: Roboto;
    --small-size-body-medium: Poppins;
    --font-font: font;
    --font-google-sans: "Google Sans";
    --font-habibi: Habibi;
    --font-open-sans: "Open Sans";
    --font-inter: Inter;
    --font-inherit: inherit;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    --font-size-13xl: 32px;
    --font-size-11xl: 30px;
    --font-size-9xl: 28px;
    --button-size: 14px;
    --font-size-base: 16px;
    --font-size-17xl: 36px;
    --font-size-29xl: 48px;
  
    /* Colors */
    --black-like-ur-heart: #000;
    --text-medium: #494e50;
    --grey-grey-800: #424242;
    --color-darkslategray-100: #3e3e3e;
    --color-darkslategray-200: #39393d;
    --color-darkslategray-300: #263238;
    --color-darkslategray-400: #2f2d2d;
    --color-gainsboro-100: #e8e7e2;
    --grey-grey-300: #e0e0e0;
    --color-gainsboro-200: #d9d9d9;
    --grey-grey-50: #fafafa;
    --color-gray-100: #8f8f8f;
    --color-gray-200: #808080;
    --color-gray-300: #2b2b2e;
    --color-gray-400: #272523;
    --color-gray-500: #1d1d1b;
    --sexy-rouge: #ff182c;
    --color-red-100: #e50019;
    --black-white-white: #fff;
    --grey-grey-400: #bdbdbd;
    --color-darkgray: #999;
    --color-dimgray: #636262;
    --color-darkolivegreen: #324209;
    --color-steelblue-100: #3c74ba;
    --color-deepskyblue: #1bb1ff;
    --color-whitesmoke: #f3f2ef;
    --color-gold: #fee232;
    --color-yellowgreen-100: #82b63f;
    --color-yellowgreen-200: #88b120;
    --color-crimson: #db3846;
    --color-lightskyblue: #79d7ff;
  
    /* Gaps */
    --gap-179xl: 198px;
    --gap-7xs: 6px;
    --gap-9xs: 4px;
    --gap-11xs: 2px;
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-4xs: 9px;
    --padding-21xl: 40px;
    --padding-5xs: 8px;
    --padding-9xs: 4px;
    --padding-base: 16px;
    --padding-13xl: 32px;
  
    /* border radiuses */
    --br-3xs: 10px;
    --br-xl: 20px;
    --br-9xs: 4px;
    --br-5xs: 8px;
    --br-mini: 15px;
    --br-11xs: 2px;
    --br-11xl: 30px;
  
    /* Effects */
    --bootstrap-focused: 0px 0px 0px 3.2px rgba(32, 162, 232, 0.25);
  }
  